body{
    padding: 0%;
    margin: 0%;
  }
  header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0px;
    min-width: 100%
  }
  header .top{
    width: 100%;
    height: 80px;
    background-color: #131921;
  }
  header .top .logo{
    width: 200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }
  header .top .logo h1 {
    font-size: 25px;
    color: #fdfdfd;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0px;
  }
  header .top .logo h2 {
    font-size: 19px;
    color: #fe9800;
    text-align: center;
    margin-top: 3%
  }
  header .about {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0%;
    margin: 0%;
    position: relative;
    overflow: hidden;
    background-color: #232f3e;
    /*background-image: linear-gradient(to right, #131921, #232f3e);*/
  }
  header .about img {
    width: 50%;
    height: auto;
    max-width: 542px;
    overflow: hidden;
  }
  header .about .about_text {
    background-color: #232f3e;
    min-width: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    float: right;
    display: inline-block;
    overflow: hidden;
  }
  header .about .about_text h1{
    color: white;
    padding-top: 20px;
    padding-left: 40px;
    margin: 0px;
    font-size: 250%;
    overflow: hidden;
  }
  header .about .about_text p{
    color: white;
    padding-top: 20px;
    padding-left: 40px;
    margin: 0px;
    font-size: 150%;
    width: 45%;
    float: center;
    overflow: hidden;
  }
body .website_title{
  background-color: #73927a;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}
body .website_title h1{
  color: white;
  font-size: 50px;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0px;
  padding-top: 20px;

}
body .websites {
  display: inline-grid;
  background-color: #73927a;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: relative;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  column-gap: 6%;
}
body .websites .website_1{
  display: inline-grid;
  background-color: #232f3e;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  float: left;
  x-shadow: 10px 5px 5px black;
}
body .websites .website_1 a{
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
body .websites .website_1 img{
  width: 75px;
  height: auto;
  float: center;
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
body .websites .website_2{
  display: inline-grid;
  background-color: #232f3e;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  float: center;
  box-shadow: 10px 5px 5px black;
}
body .websites .website_2 a{
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-top: 5px;
}
body .websites .website_2 img{
  width: 75px;
  height: auto;
  float: center;
  padding-top: 0px;
  margin-top: -5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
body .websites .website_3{
  display: inline-grid;
  background-color: #232f3e;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  float: right;
  box-shadow: 10px 5px 5px black;
}
body .websites .website_3 a{
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
body .websites .website_3 img{
  width: 75px;
  height: auto;
  float: center;
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}